.container-box {
  width: 90%;
  margin: 0 auto;
}
/* p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  font-family: sans-serif;
  color: #6d737a;
}
h6 {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  font-family: sans-serif;
  color: #000000;
} */
