@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  color: #6d737a;
}

.signupbutton {
  background-color: #0b93db;
  color: white;
}

.facbook_colour {
  color: #1877f2;
}

.twitter_icon {
  color: #1d9bf0;
}
/* .instagram_icon {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);   
} */

.instagram_icon {
  color: linear;
}

.linkedin_icon {
  color: #0a66c2;
}
